.navigation-container {
    max-width: 100%;
    background-color: #1f1e1e;
    border-top: #444444 solid 1px;
}
.navigation-container ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.2em 1em;
    padding: 0.4em;
    height: 2.5em;
}
.navigation-container ul li a {
    text-decoration: none;
    color: white;
    height: 1.8em;
    font-size: 0.9em;
    font-weight: 700;
}
.navigation-container ul li a:hover {
    color: gray;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}